<section class="container">
  <% if doctor_signed_in? %>
    <h1 class="mb-4 text-center">Appointment with: <%= @appointment.patient.email %></h1>
  <% elsif patient_signed_in? %>
    <h1 class="mb-4 text-center">Appointment with: <%= @appointment.doctor.email %></h1>
  <% end %>
  <div class="row d-flex justify-content-center">
    <div class="list-group w-50 mb-3">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Subject</h5>
        </div>
        <p class="mb-1"><%= @appointment.subject %></p>
        
      </div>
      
      <div class="list-group-item list-group-item-action">
        <% if patient_signed_in? %>
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Doctor</h5>      
            </div>
            <p class="mb-1"><%= link_to @appointment.doctor.email, doctor_path(@appointment.doctor) %></p>    
          </div>
        <% elsif doctor_signed_in? %>
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Patient</h5>      
            </div>
            <p class="mb-1"><%= link_to @appointment.patient.email, patient_path(@appointment.patient) %></p>    
          </div>
        <% end %>

        <% if @appointment.recom != nil%>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Doctor's recommendation</h5>
            </div>
            <p class="mb-1"><%= @appointment.recom %></p>
          </div>
        <% end %>



        <% if doctor_signed_in? && @appointment.recom == nil%>
          <%= form_with(model: @appointment, local: true) do |form| %>
            <div class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Doctor's recommendation</h5>
              </div>
              <div class="form-outline mb-3">
                <%= form.text_field :recom, autofocus: true, placeholder: "Recommendation", class:"form-control form-control-lg" %>                                      
              </div>
              <div class="actions text-center">
                <%= form.submit 'Submit', class:"btn btn-primary btn-lg btn-rounded text-white mt-1" %>
              </div>
            </div>
          <% end %>
        <% end %>
          
      </div>
    </div>

    <div class="mt-4 mb-3 d-flex justify-content-center">
      <% if patient_signed_in? %>
        <%= link_to 'Edit', edit_appointment_path(@appointment), class:"btn btn-primary text-white mx-2" %> 
      <% end %>
      <%= link_to 'Back', :back, class:"btn btn-primary text-white" %>
    </div>
  </div>
</section>